<script src="~/js/Teacher/parents.js" asp-append-version="true"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="~/js/bootstrap-dialog.min.js"></script>
<link rel="stylesheet" href="~/css/bootstrap-dialog.min.css" />
@model List< GdevApps.Portal.Models.TeacherViewModels.ParentStudentViewModel>
<script type="text/javascript">
    $(function() {
        Parents.init();
    });
</script>

<h2>Parents</h2>
@Html.AntiForgeryToken()
<div class="row">
    <div class="form-group">
        <div class="row">
            <div class="col-md-12 auto-overflow">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                    </div>
                    <div class="panel-body auto-overflow">
                        <table id="parents" class="table table-striped table-bordered table-hover responsive" width="100%">
                            <thead class="thin-border-bottom">
                                <tr>
                                    <th>Action</th>
                                    <th>Parent email</th>
                                    <th>Student email</th>
                                    <th>Parent Gradebook</th>
                                    <th>Main Gradebook</th>
                                    <th>Has Account</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var parent in Model){
                                    <tr>
                                        <td>
                                            <button class="btn btn-danger remove-parent" data-parent-email="@parent.Email" title="Remove parent" onclick="Parents.remove(this)">Remove</button>
                                        </td>
                                        <td>@parent.Email</td>
                                        <td>@parent.StudentEmail</td>
                                        <td>
                                            <a href="@parent.ParentGradebookLink">@parent.ParentGradebookName</a>
                                        </td>
                                        <td>
                                            <a href="@parent.MainGradeBookLink">@parent.MainGradeBookName</a>
                                        </td>
                                        <td>
                                            @if(parent.HasAccount){
                                                <span class='green'><i class='material-icons'>check_circle</i></span>
                                            }else{
                                                <span class='red' data-toggle='popover' data-trigger='hover' title='Help' data-content='This user must sign in to the Portal to create an account.'><i class='material-icons'>error</i></span>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-placeholder"></div>